<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericbt.rpncalc"
    android:versionCode="52"
    android:versionName="1.52" >

    <application
        android:name="com.ericbt.rpncalc.RPNCalcApplication"
        android:icon="@drawable/ic_rpncalc"
        android:theme="@style/AppBaseTheme"
		android:label="@string/app_name"
        android:allowBackup="true"
        >
        <activity
            android:name="com.ericbt.rpncalc.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity android:name="com.ericbt.rpncalc.EditMethodsActivity" />
        <activity android:name="com.ericbt.rpncalc.EnterStringActivity" />
        <activity android:name="com.ericbt.rpncalc.SettingsActivity" />
        <activity android:name="com.ericbt.rpncalc.RunMethodsActivity" />
        <activity android:name="com.ericbt.rpncalc.AboutActivity" />
        <activity android:name="com.ericbt.rpncalc.LicenseTermsActivity" />
        <activity android:name="com.ericbt.rpncalc.StackContentsActivity" />
        <activity android:name="com.ericbt.rpncalc.RuntimeErrorActivity" />
        <activity android:name="com.ericbt.rpncalc.javascript.PromptActivity" android:configChanges="orientation|screenSize" />
	</application>

</manifest>